body {
  font-family: sans-serif;
  background-color: black;
  height: 100vh;
  padding: 30px;
}
* {
  padding: 0;
  margin: 0;
}

.btn-container {
  margin-top: 30px;
  height: 80px;
  text-align: center;
}

.btn {
  background-color: lime;
  border-radius: 50%;
  padding: 20px;
  color: whitesmoke;
  font-size: 30px;
  box-sizing: border-box;
  margin: 10px;
}

#displayLike {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: white;
}
